Repository adap/flower, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tanertopal, @danieljanes, @jafermarq, @charlesbvll, @Robert-Steiner, @Moep90

.github/CODEOWNERS:

# Details: https://help.github.com/en/articles/about-code-owners

# Default code owners
* @tanertopal @danieljanes

# README.md
README.md @jafermarq @tanertopal @danieljanes

# Flower Baselines
/baselines @jafermarq @tanertopal @danieljanes

# Flower Benchmarks
/benchmarks @jafermarq @tanertopal @danieljanes

# Flower Datasets
/datasets @jafermarq @tanertopal @danieljanes

# Flower Examples
/examples @jafermarq @tanertopal @danieljanes

# Flower Templates
/src/py/flwr/cli/new/templates @jafermarq @tanertopal @danieljanes

# Changelog
/framework/docs/source/ref-changelog.md @jafermarq @tanertopal @danieljanes

# Translations
/framework/docs/locales @charlesbvll @tanertopal @danieljanes

# GitHub Actions and Workflows
/.github/workflows @Robert-Steiner @tanertopal @danieljanes
/.github/actions @Robert-Steiner @tanertopal @danieljanes

# Docker-related files
/.devcontainer @Robert-Steiner @Moep90 @tanertopal @danieljanes
**/Dockerfile @Robert-Steiner @Moep90 @tanertopal @danieljanes
**/*.Dockerfile @Robert-Steiner @Moep90 @tanertopal @danieljanes
/src/docker @Robert-Steiner @Moep90 @tanertopal @danieljanes

refactor(examples) Update `torch` version in several examples (#4770)
  examples/custom-mods/pyproject.toml
  examples/custom-mods/requirements.txt
  examples/fl-tabular/pyproject.toml
  examples/pytorch-from-centralized-to-federated/pyproject.toml
  examples/pytorch-from-centralized-to-federated/requirements.txt
  examples/quickstart-pytorch-lightning/pyproject.toml
  examples/vertical-fl/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

+ruff
  baselines/fedmeta/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

+ruff
  baselines/fedwav2vec2/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

refactor(baselines) Remove `pillow` package from `FedMeta` baseline (#4773)
  baselines/fedmeta/README.md
  baselines/fedmeta/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

init
  baselines/hfedxgboost/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

ci(framework) Add issue metrics action.
  .github/workflows/issue_metrics.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

rm
  examples/app-pytorch/README.md
  examples/app-pytorch/client.py
  examples/app-pytorch/client_low_level.py
  examples/app-pytorch/pyproject.toml
  examples/app-pytorch/requirements.txt
  examples/app-pytorch/server.py
  examples/app-pytorch/server_custom.py
  examples/app-pytorch/server_low_level.py
  examples/app-pytorch/server_workflow.py
  examples/app-pytorch/task.py
Owners: @jafermarq, @tanertopal, @danieljanes

ci(framework) Add issue metrics action.
  .github/workflows/issue_metrics.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

add `check_abort`
  src/py/flwr/server/superlink/fleet/message_handler/message_handler.py
Owners: @tanertopal, @danieljanes

Add statavg baseline
  baselines/statavg/LICENSE
  baselines/statavg/README.md
  baselines/statavg/_static/fig_statavg.png
  baselines/statavg/_static/fig_statavg.png:Zone.Identifier
  baselines/statavg/pyproject.toml
  baselines/statavg/statavg/__init__.py
  baselines/statavg/statavg/client.py
  baselines/statavg/statavg/conf/base.yaml
  baselines/statavg/statavg/dataset.py
  baselines/statavg/statavg/dataset_preparation.py
  baselines/statavg/statavg/main.py
  baselines/statavg/statavg/models.py
  baselines/statavg/statavg/server.py
  baselines/statavg/statavg/strategy.py
  baselines/statavg/statavg/utils.py
Owners: @jafermarq, @tanertopal, @danieljanes

Delete baselines/statavg/_static/fig_statavg.png:Zone.Identifier
  baselines/statavg/_static/fig_statavg.png:Zone.Identifier
Owners: @jafermarq, @tanertopal, @danieljanes

Remove ts feature in dataset_preparation.py, update fig, update yamls
  baselines/statavg/README.md
  baselines/statavg/_static/fig.png
  baselines/statavg/statavg/conf/base.yaml
  baselines/statavg/statavg/conf/fedavg.yaml
  baselines/statavg/statavg/dataset_preparation.py
Owners: @jafermarq, @tanertopal, @danieljanes

Init
  baselines/flwr_baselines/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Fix
  baselines/flwr_baselines/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Bump Python version
  .github/workflows/deprecated_baselines.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

Set Python version to 3.10 to resolve torch dependency conflict
  .github/workflows/deprecated_baselines.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

Add quotes
  .github/workflows/deprecated_baselines.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

Update src/py/flwr/server/superlink/fleet/message_handler/message_handler.py
  src/py/flwr/server/superlink/fleet/message_handler/message_handler.py
Owners: @tanertopal, @danieljanes

Bump mypy version to resolve issue with positional-only parameters in numpy
  baselines/flwr_baselines/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

wrap in try/except
  src/py/flwr/server/superlink/fleet/grpc_rere/fleet_servicer.py
Owners: @tanertopal, @danieljanes

Update baselines/statavg/pyproject.toml
  baselines/statavg/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

feat(baselines) Add new baseline statavg (#3921)
  baselines/statavg/LICENSE
  baselines/statavg/README.md
  baselines/statavg/_static/fig.png
  baselines/statavg/pyproject.toml
  baselines/statavg/statavg/__init__.py
  baselines/statavg/statavg/client.py
  baselines/statavg/statavg/conf/base.yaml
  baselines/statavg/statavg/conf/fedavg.yaml
  baselines/statavg/statavg/dataset.py
  baselines/statavg/statavg/dataset_preparation.py
  baselines/statavg/statavg/main.py
  baselines/statavg/statavg/models.py
  baselines/statavg/statavg/server.py
  baselines/statavg/statavg/strategy.py
  baselines/statavg/statavg/utils.py
Owners: @jafermarq, @tanertopal, @danieljanes

ci(framework) Add issue metrics action.
  .github/workflows/issue_metrics.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

init
  baselines/fjord/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

init
  baselines/statavg/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Temporarily omit poetry install
  .github/workflows/deprecated_baselines.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

Adjust
  .github/workflows/deprecated_baselines.yml
  baselines/flwr_baselines/pyproject.toml
Owners: @Robert-Steiner, @tanertopal, @danieljanes, @jafermarq

init
  baselines/fedavgm/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Numpy
  baselines/flwr_baselines/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

init
  baselines/fedmlb/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

refactor(baselines) Bump TensorFlow version for `StatAvg` baseline (#4785)
  baselines/statavg/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Add --explicity-package-bases to mypy
  baselines/flwr_baselines/dev/test.sh
Owners: @jafermarq, @tanertopal, @danieljanes

unpin numpy (not needed)
  baselines/fedavgm/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Rollback python to 3.8
  .github/workflows/deprecated_baselines.yml
Owners: @Robert-Steiner, @tanertopal, @danieljanes

refactor(baselines) Bump TensorFlow and `ruff` version in FedMLB (#4787)
  baselines/fedmlb/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Update baselines/fedavgm/pyproject.toml
  baselines/fedavgm/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Update baselines/fedavgm/pyproject.toml
  baselines/fedavgm/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

refactor(baselines) Bump TensorFlow and `ruff` version in FedAvgM baseline (#4786)
  baselines/fedavgm/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes

Fix errors
  baselines/flwr_baselines/flwr_baselines/dataset/utils/common_test.py
  baselines/flwr_baselines/flwr_baselines/publications/adaptive_federated_optimization/cifar/utils.py
  baselines/flwr_baselines/flwr_baselines/publications/fedavg_mnist/client.py
  baselines/flwr_baselines/flwr_baselines/publications/fedavg_mnist/utils.py
  baselines/flwr_baselines/flwr_baselines/publications/leaf/femnist/client.py
  baselines/flwr_baselines/flwr_baselines/publications/leaf/femnist/dataset/dataset.py
  baselines/flwr_baselines/flwr_baselines/publications/leaf/femnist/dataset/nist_sampler.py
Owners: @jafermarq, @tanertopal, @danieljanes

Add deps
  baselines/flwr_baselines/pyproject.toml
Owners: @jafermarq, @tanertopal, @danieljanes
