Repository adap/flower, pull requests merged in 2022-03, with the labels that each got.

#857 Remove deprecated KerasClient
  doc/source/changelog.rst
  src/py/flwr/client/__init__.py
  src/py/flwr/client/app.py
  src/py/flwr/client/keras_client.py
Labels: documentation, enhancement, breaking change

#973 Remove no-op extras
  doc/source/changelog.rst
  pyproject.toml
Labels: breaking change

#870 Remove deprecated proto fields
  doc/source/changelog.rst
  src/proto/flwr/proto/transport.proto
  src/py/flwr/client/numpy_client.py
  src/py/flwr/common/serde.py
  src/py/flwr/common/typing.py
  src/py/flwr/proto/transport_pb2.py
  src/py/flwr/proto/transport_pb2.pyi
  src/py/flwr/server/grpc_server/grpc_client_proxy_test.py
  src/py/flwr/server/server_test.py
  src/py/flwr/server/strategy/fast_and_slow.py
  src/py/flwr/server/strategy/fault_tolerant_fedavg_test.py
  src/py/flwr/server/strategy/fedadagrad_test.py
  src/py/flwr/server/strategy/fedfs_v0.py
  src/py/flwr/server/strategy/fedfs_v1.py
Labels: breaking change

#871 Remove support for Python 3.6
  .github/workflows/flower.yml
  doc/source/changelog.rst
  pyproject.toml
  src/py/flwr/server/strategy/fedavg_android.py
  src/py/flwr/server/strategy/qfedavg.py
Labels: documentation, breaking change

#906 Jax Example
  README.md
  doc/source/example-jax-from-centralized-to-federated.rst
  doc/source/index.rst
  examples/jax_from_centralized_to_federated/README.md
  examples/jax_from_centralized_to_federated/client.py
  examples/jax_from_centralized_to_federated/jax_training.py
  examples/jax_from_centralized_to_federated/pyproject.toml
  examples/jax_from_centralized_to_federated/server.py
Labels: documentation, enhancement

#914 Create FedBN Baseline Example
  README.md
  baselines/flwr_baselines/publications/fedbn/convergence_rate/README.md
  baselines/flwr_baselines/publications/fedbn/convergence_rate/__init__.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/client.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/convergence_rate_FedBN_FedAvg_comparison.png
  baselines/flwr_baselines/publications/fedbn/convergence_rate/convergence_rate_Flower_FedBN_comparison.png
  baselines/flwr_baselines/publications/fedbn/convergence_rate/evaluation_plot.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/run.sh
  baselines/flwr_baselines/publications/fedbn/convergence_rate/server.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/__init__.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/cnn_model.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/data_download.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/data_download_raw.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/data_preprocess.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/data_utils.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/mnistm/__init__.py
  baselines/flwr_baselines/publications/fedbn/convergence_rate/utils/mnistm/create_mnistm.py
  baselines/pyproject.toml
  baselines/requirements.txt
  doc/source/organizations.rst
Labels: enhancement, new baseline
