Repository adap/flower, pull requests merged in 2023-11, with the labels that each got.

#2266 Add FedPer
  baselines/fedper/LICENSE
  baselines/fedper/README.md
  baselines/fedper/_static/mobile_plot_figure_2.png
  baselines/fedper/_static/mobile_plot_figure_flickr.png
  baselines/fedper/_static/mobile_plot_figure_num_head.png
  baselines/fedper/_static/resnet_plot_figure_2.png
  baselines/fedper/_static/resnet_plot_figure_flickr.png
  baselines/fedper/_static/resnet_plot_figure_num_head.png
  baselines/fedper/fedper/__init__.py
  baselines/fedper/fedper/client.py
  baselines/fedper/fedper/conf/base.yaml
  baselines/fedper/fedper/conf/cifar10.yaml
  baselines/fedper/fedper/conf/flickr.yaml
  baselines/fedper/fedper/constants.py
  baselines/fedper/fedper/dataset.py
  baselines/fedper/fedper/dataset_preparation.py
  baselines/fedper/fedper/implemented_models/mobile_model.py
  baselines/fedper/fedper/implemented_models/resnet_model.py
  baselines/fedper/fedper/main.py
  baselines/fedper/fedper/models.py
  baselines/fedper/fedper/run_figures.sh
  baselines/fedper/fedper/server.py
  baselines/fedper/fedper/strategy.py
  baselines/fedper/fedper/utils.py
  baselines/fedper/pyproject.toml
  doc/source/ref-changelog.md
Labels: summer-of-reproducibility

#2551 Add Wav2vec baseline
  baselines/fedwav2vec2/.gitignore
  baselines/fedwav2vec2/LICENSE
  baselines/fedwav2vec2/README.md
  baselines/fedwav2vec2/_static/fedwav2vec.png
  baselines/fedwav2vec2/docs/label_encoder.txt
  baselines/fedwav2vec2/fedwav2vec2/__init__.py
  baselines/fedwav2vec2/fedwav2vec2/client.py
  baselines/fedwav2vec2/fedwav2vec2/conf/base.yaml
  baselines/fedwav2vec2/fedwav2vec2/conf/sb_config/w2v2.yaml
  baselines/fedwav2vec2/fedwav2vec2/dataset.py
  baselines/fedwav2vec2/fedwav2vec2/dataset_preparation.py
  baselines/fedwav2vec2/fedwav2vec2/main.py
  baselines/fedwav2vec2/fedwav2vec2/models.py
  baselines/fedwav2vec2/fedwav2vec2/sb_recipe.py
  baselines/fedwav2vec2/fedwav2vec2/server.py
  baselines/fedwav2vec2/fedwav2vec2/strategy.py
  baselines/fedwav2vec2/fedwav2vec2/utils.py
  baselines/fedwav2vec2/pyproject.toml
  doc/source/ref-changelog.md
Labels: summer-of-reproducibility

#2428 Add niid-Bench baseline
  baselines/niid_bench/LICENSE
  baselines/niid_bench/README.md
  baselines/niid_bench/niid_bench/__init__.py
  baselines/niid_bench/niid_bench/client.py
  baselines/niid_bench/niid_bench/client_fedavg.py
  baselines/niid_bench/niid_bench/client_fednova.py
  baselines/niid_bench/niid_bench/client_fedprox.py
  baselines/niid_bench/niid_bench/client_scaffold.py
  baselines/niid_bench/niid_bench/conf/fedavg_base.yaml
  baselines/niid_bench/niid_bench/conf/fednova_base.yaml
  baselines/niid_bench/niid_bench/conf/fedprox_base.yaml
  baselines/niid_bench/niid_bench/conf/scaffold_base.yaml
  baselines/niid_bench/niid_bench/dataset.py
  baselines/niid_bench/niid_bench/dataset_preparation.py
  baselines/niid_bench/niid_bench/main.py
  baselines/niid_bench/niid_bench/models.py
  baselines/niid_bench/niid_bench/server.py
  baselines/niid_bench/niid_bench/server_fednova.py
  baselines/niid_bench/niid_bench/server_scaffold.py
  baselines/niid_bench/niid_bench/strategy.py
  baselines/niid_bench/niid_bench/utils.py
  baselines/niid_bench/pyproject.toml
  baselines/niid_bench/run_exp.py
  doc/source/ref-changelog.md
Labels: summer-of-reproducibility

#2582 Update how to use baselines
  baselines/README.md
  baselines/doc/source/how-to-use-baselines.rst
Labels: documentation

#2569 Add Whisper example for federated downstreaming
  examples/whisper-federated-finetuning/README.md
  examples/whisper-federated-finetuning/_static/federated_finetuning_flower_pipeline.png
  examples/whisper-federated-finetuning/_static/keyword_spotting_overview.png
  examples/whisper-federated-finetuning/_static/whisper_flower_acc.png
  examples/whisper-federated-finetuning/_static/whisper_flower_data.png
  examples/whisper-federated-finetuning/centralised.py
  examples/whisper-federated-finetuning/client.py
  examples/whisper-federated-finetuning/pyproject.toml
  examples/whisper-federated-finetuning/requirements.txt
  examples/whisper-federated-finetuning/rpi_setup.md
  examples/whisper-federated-finetuning/server.py
  examples/whisper-federated-finetuning/sim.py
  examples/whisper-federated-finetuning/utils.py
Labels: Examples

#2592 Update README.md for Whisper example
  examples/whisper-federated-finetuning/README.md
Labels: Examples

#2612 Xgboost-quickstart example
  examples/xgboost-quickstart/README.md
  examples/xgboost-quickstart/client.py
  examples/xgboost-quickstart/pyproject.toml
  examples/xgboost-quickstart/requirements.txt
  examples/xgboost-quickstart/run.sh
  examples/xgboost-quickstart/server.py
Labels: Examples

#2542 Fix FedXgbNnAvg strategy doc to reference the right paper
  src/py/flwr/server/strategy/fedxgb_nn_avg.py
Labels: documentation

#2598 Add Vertical FL example
  doc/source/ref-changelog.md
  examples/vertical-fl/.gitignore
  examples/vertical-fl/README.md
  examples/vertical-fl/_static/data/train.csv
  examples/vertical-fl/_static/hfl.jpg
  examples/vertical-fl/_static/vfl-accuracy.png
  examples/vertical-fl/_static/vfl.jpg
  examples/vertical-fl/client.py
  examples/vertical-fl/plot.py
  examples/vertical-fl/pyproject.toml
  examples/vertical-fl/requirements.txt
  examples/vertical-fl/simulation.py
  examples/vertical-fl/strategy.py
  examples/vertical-fl/task.py
Labels: Examples

#2655 Fix vertical-fl example
  examples/vertical-fl/pyproject.toml
  examples/vertical-fl/requirements.txt
  examples/vertical-fl/simulation.py
Labels: Examples

#2632 Inject `WorkloadState` into instantiated client
  doc/source/ref-changelog.md
  src/py/flwr/client/client.py
  src/py/flwr/client/flower.py
  src/py/flwr/client/message_handler/message_handler.py
  src/py/flwr/client/message_handler/message_handler_test.py
  src/py/flwr/client/numpy_client.py
Labels: enhancement

#2643 Add `WorkloadState` to virtual clients
  doc/source/ref-changelog.md
  src/py/flwr/simulation/ray_transport/ray_actor.py
  src/py/flwr/simulation/ray_transport/ray_client_proxy.py
  src/py/flwr/simulation/ray_transport/ray_client_proxy_test.py
Labels: enhancement, simulation
