Repository adap/flower, pull requests merged in 2024-10, with the labels that each got.

#3790 feat(baselines) Add FedRep Baseline
  README.md
  baselines/fedrep/.gitignore
  baselines/fedrep/LICENSE
  baselines/fedrep/README.md
  baselines/fedrep/_static/cifar100_100_20.png
  baselines/fedrep/_static/cifar100_100_5.png
  baselines/fedrep/_static/cifar10_100_2.png
  baselines/fedrep/_static/cifar10_100_5.png
  baselines/fedrep/fedrep/__init__.py
  baselines/fedrep/fedrep/base_model.py
  baselines/fedrep/fedrep/client.py
  baselines/fedrep/fedrep/conf/base.yaml
  baselines/fedrep/fedrep/conf/cifar100_100_20.yaml
  baselines/fedrep/fedrep/conf/cifar100_100_5.yaml
  baselines/fedrep/fedrep/conf/cifar10_100_2.yaml
  baselines/fedrep/fedrep/conf/cifar10_100_5.yaml
  baselines/fedrep/fedrep/constants.py
  baselines/fedrep/fedrep/dataset.py
  baselines/fedrep/fedrep/dataset_preparation.py
  baselines/fedrep/fedrep/main.py
  baselines/fedrep/fedrep/models.py
  baselines/fedrep/fedrep/server.py
  baselines/fedrep/fedrep/strategy.py
  baselines/fedrep/fedrep/utils.py
  baselines/fedrep/pyproject.toml
Labels: new baseline

#4234 refactor(examples) Update XGBoost comprehensive example
  examples/xgboost-comprehensive/README.md
  examples/xgboost-comprehensive/client.py
  examples/xgboost-comprehensive/dataset.py
  examples/xgboost-comprehensive/pyproject.toml
  examples/xgboost-comprehensive/requirements.txt
  examples/xgboost-comprehensive/run_bagging.sh
  examples/xgboost-comprehensive/run_cyclic.sh
  examples/xgboost-comprehensive/server.py
  examples/xgboost-comprehensive/server_utils.py
  examples/xgboost-comprehensive/sim.py
  examples/xgboost-comprehensive/utils.py
  examples/xgboost-comprehensive/xgboost_comprehensive/__init__.py
  examples/xgboost-comprehensive/xgboost_comprehensive/client_app.py
  examples/xgboost-comprehensive/xgboost_comprehensive/server_app.py
  examples/xgboost-comprehensive/xgboost_comprehensive/task.py
Labels: Examples

#4261 fix(framework:skip) Fix Docker Compose example
  examples/flower-via-docker-compose/Dockerfile
  examples/flower-via-docker-compose/config/grafana.ini
  examples/flower-via-docker-compose/config/provisioning/dashboards/dashboard_index.json
  examples/flower-via-docker-compose/config/provisioning/datasources/prometheus-datasource.yml
  examples/flower-via-docker-compose/helpers/generate_docker_compose.py
Labels: Examples

#4262 refactor(examples) Update opacus example
  examples/opacus/README.md
  examples/opacus/client.py
  examples/opacus/opacus_fl/__init__.py
  examples/opacus/opacus_fl/client_app.py
  examples/opacus/opacus_fl/server_app.py
  examples/opacus/opacus_fl/task.py
  examples/opacus/pyproject.toml
  examples/opacus/server.py
Labels: Examples

#4331 refactor(examples:skip) Move a comment out of the code block in opacus example
  examples/opacus/README.md
Labels: Examples

#3340 docs(framework) Update Quickstart Tutorial documentation for scikit-learn with `flwr run`
  doc/source/tutorial-quickstart-scikitlearn.rst
Labels: documentation

#4340 feat(datasets) Bump up datasets version
  datasets/flwr_datasets/mock_utils_test.py
  datasets/pyproject.toml
Labels: flwr-dataset

#4341 break(datasets) Drop support for python 3.8
  datasets/e2e/pytorch/pyproject.toml
  datasets/e2e/scikit-learn/pyproject.toml
  datasets/e2e/tensorflow/pyproject.toml
  datasets/flwr_datasets/visualization/bar_plot.py
  datasets/flwr_datasets/visualization/comparison_label_distribution.py
  datasets/flwr_datasets/visualization/label_distribution.py
  datasets/pyproject.toml
Labels: flwr-dataset

#4121 refactor(examples) Update `quickstart-jax` example
  examples/quickstart-jax/README.md
  examples/quickstart-jax/client.py
  examples/quickstart-jax/jax_training.py
  examples/quickstart-jax/jaxexample/__init__.py
  examples/quickstart-jax/jaxexample/client_app.py
  examples/quickstart-jax/jaxexample/server_app.py
  examples/quickstart-jax/jaxexample/task.py
  examples/quickstart-jax/pyproject.toml
  examples/quickstart-jax/requirements.txt
  examples/quickstart-jax/run.sh
  examples/quickstart-jax/server.py
Labels: Examples

#4368 fix(examples:skip) Fix cmd in auth example
  examples/flower-authentication/README.md
  examples/flower-authentication/generate.sh
Labels: Examples

#4386 fix(examples) Fix `quickstart-pytorch` GPU RuntimeError
  examples/quickstart-pytorch/pytorchexample/task.py
Labels: Examples

#4382 fix(examples) Update Dockerfile
  examples/embedded-devices/Dockerfile
Labels: Examples

#4387 docs(baselines) Fix instructions on how to use baselines
  baselines/doc/source/how-to-contribute-baselines.rst
Labels: documentation
