Repository adap/flower, pull requests merged in 2024-03, with the labels that each got.

#3045 fix(docs): Fix typos in docs/source/*
  doc/source/contributor-how-to-create-new-messages.rst
  doc/source/contributor-how-to-release-flower.rst
  doc/source/contributor-tutorial-get-started-as-a-contributor.rst
  doc/source/example-mxnet-walk-through.rst
  doc/source/example-pytorch-from-centralized-to-federated.rst
  doc/source/example-walkthrough-pytorch-mnist.rst
  doc/source/explanation-federated-evaluation.rst
  doc/source/how-to-configure-logging.rst
  doc/source/how-to-implement-strategies.rst
  doc/source/how-to-monitor-simulation.rst
  doc/source/how-to-upgrade-to-flower-1.0.rst
  doc/source/how-to-use-strategies.rst
  doc/source/ref-changelog.md
  doc/source/tutorial-series-customize-the-client-pytorch.ipynb
  doc/source/tutorial-series-get-started-with-flower-pytorch.ipynb
  doc/source/tutorial-series-what-is-federated-learning.ipynb
Labels: documentation

#3044 fix(docs): Fix typos in docs/locals/*
  doc/locales/fr/LC_MESSAGES/framework-docs.po
  doc/locales/pt_BR/LC_MESSAGES/framework-docs.po
  doc/locales/zh_Hans/LC_MESSAGES/framework-docs.po
Labels: documentation

#3041 fix(docs): Fix typos in examples/*
  examples/android/client/app/src/main/java/flwr/android_client/MainActivity.java
  examples/ios/FLiOS/CoreMLProto/NeuralNetwork.pb.swift
  examples/ios/FLiOS/CoreMLProto/NeuralNetwork.proto
  examples/simulation-pytorch/sim.ipynb
Labels: documentation

#3042 fix(docs): Fix typos in src/py* src/flwr/* e2e/* dev
  dev/publish-nightly.sh
  e2e/scikit-learn/utils.py
  src/py/flwr/common/record/recordset_test.py
  src/py/flwr/server/strategy/dp_adaptive_clipping.py
  src/py/flwr_example/tensorflow_fashion_mnist/fashion_mnist_test.py
  src/py/flwr_experimental/baseline/config/config.py
  src/py/flwr_experimental/ops/cluster.py
Labels: documentation

#3046 fix(docs): Fix obsolet links
  doc/locales/fr/LC_MESSAGES/framework-docs.po
  doc/locales/pt_BR/LC_MESSAGES/framework-docs.po
  doc/locales/zh_Hans/LC_MESSAGES/framework-docs.po
  doc/source/ref-changelog.md
Labels: documentation

#3043 fix(docs): Fix typos in baseline/*
  baselines/depthfl/README.md
  baselines/doc/source/how-to-use-baselines.rst
  baselines/fedavgm/README.md
  baselines/fedbn/README.md
  baselines/fedmlb/README.md
  baselines/fedpara/README.md
  baselines/fedper/README.md
  baselines/fedprox/README.md
  baselines/fedstar/README.md
  baselines/fedvssl/README.md
  baselines/fedwav2vec2/README.md
  baselines/flwr_baselines/flwr_baselines/publications/fedavg_mnist/client.py
  baselines/heterofl/README.md
  baselines/hfedxgboost/hfedxgboost/client.py
  baselines/moon/README.md
  baselines/niid_bench/README.md
Labels: documentation

#3050 fix(docs): Fix diverse typos
  baselines/fedvssl/README.md
  doc/locales/pt_BR/LC_MESSAGES/framework-docs.po
  doc/locales/zh_Hans/LC_MESSAGES/framework-docs.po
  doc/source/ref-changelog.md
  examples/advanced-tensorflow/README.md
  examples/embedded-devices/README.md
  examples/quickstart-jax/README.md
  examples/simulation-pytorch/README.md
  examples/simulation-tensorflow/README.md
  src/py/flwr/common/message.py
  src/py/flwr/simulation/run_simulation.py
Labels: documentation

#3061 Update `run_simulation`
  src/py/flwr/server/app.py
  src/py/flwr/server/superlink/fleet/vce/vce_api.py
  src/py/flwr/server/superlink/fleet/vce/vce_api_test.py
  src/py/flwr/simulation/run_simulation.py
Labels: simulation

#3063 Add `ViT` example
  README.md
  examples/vit-finetune/README.md
  examples/vit-finetune/_static/central_evaluation.png
  examples/vit-finetune/client.py
  examples/vit-finetune/dataset.py
  examples/vit-finetune/main.py
  examples/vit-finetune/model.py
  examples/vit-finetune/pyproject.toml
  examples/vit-finetune/requirements.txt
  examples/vit-finetune/server.py
Labels: Examples

#3029 Example of Federated LLM Fine-tuning
  examples/fedllm-finetune/README.md
  examples/fedllm-finetune/_static/train_loss_smooth.png
  examples/fedllm-finetune/app.py
  examples/fedllm-finetune/client.py
  examples/fedllm-finetune/conf/config.yaml
  examples/fedllm-finetune/dataset.py
  examples/fedllm-finetune/main.py
  examples/fedllm-finetune/models.py
  examples/fedllm-finetune/requirements.txt
  examples/fedllm-finetune/test.py
  examples/fedllm-finetune/utils.py
Labels: Examples

#3068 Update Readme for fedllm-finetune example
  README.md
  examples/fedllm-finetune/README.md
Labels: Examples

#3089 Rename llm example
  examples/llm-flowertune/README.md
  examples/llm-flowertune/_static/train_loss_smooth.png
  examples/llm-flowertune/app.py
  examples/llm-flowertune/client.py
  examples/llm-flowertune/conf/config.yaml
  examples/llm-flowertune/dataset.py
  examples/llm-flowertune/main.py
  examples/llm-flowertune/models.py
  examples/llm-flowertune/requirements.txt
  examples/llm-flowertune/test.py
  examples/llm-flowertune/utils.py
Labels: Examples

#3092 Small change of LLM example
  examples/llm-flowertune/app.py
  examples/llm-flowertune/requirements.txt
Labels: Examples

#3100 Change default model and quantization value for LLM example
  examples/llm-flowertune/README.md
  examples/llm-flowertune/conf/config.yaml
Labels: Examples

#3114 Update LLM example: required package bitsandbytes==0.41.3
  examples/llm-flowertune/requirements.txt
Labels: Examples

#3162 Update LLM FlowerTune example readme
  examples/llm-flowertune/README.md
Labels: Examples

#3075 Handle `ClientApp` exception simulation
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend.py
  src/py/flwr/server/superlink/fleet/vce/vce_api.py
  src/py/flwr/server/superlink/fleet/vce/vce_api_test.py
  src/py/flwr/simulation/ray_transport/ray_actor.py
Labels: simulation
