Repository adap/flower, pull requests merged in 2024-12, with the labels that each got.

#4647 feat(framework) Add `GetRunStatus` message to `SimulationIo`
  src/proto/flwr/proto/simulationio.proto
  src/py/flwr/proto/simulationio_pb2.py
  src/py/flwr/proto/simulationio_pb2_grpc.py
  src/py/flwr/proto/simulationio_pb2_grpc.pyi
  src/py/flwr/server/superlink/simulation/simulationio_servicer.py
Labels: simulation

#4670 fix(examples) Fix typo in `pyproject.toml` in custom-metrics example
  examples/custom-metrics/pyproject.toml
Labels: examples

#4663 refactor(examples) Update simulation series tutorial materials
  examples/flower-simulation-step-by-step-pytorch/.gitignore
  examples/flower-simulation-step-by-step-pytorch/Part-I/README.md
  examples/flower-simulation-step-by-step-pytorch/Part-I/client.py
  examples/flower-simulation-step-by-step-pytorch/Part-I/conf/base.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-I/dataset.py
  examples/flower-simulation-step-by-step-pytorch/Part-I/main.py
  examples/flower-simulation-step-by-step-pytorch/Part-I/model.py
  examples/flower-simulation-step-by-step-pytorch/Part-I/server.py
  examples/flower-simulation-step-by-step-pytorch/Part-II/README.md
  examples/flower-simulation-step-by-step-pytorch/Part-II/client.py
  examples/flower-simulation-step-by-step-pytorch/Part-II/conf/base.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-II/conf/model/net.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-II/conf/strategy/fedadam.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-II/conf/strategy/fedavg.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-II/conf/toy.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-II/conf/toy_model/mobilenetv2.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-II/conf/toy_model/resnet18.yaml
  examples/flower-simulation-step-by-step-pytorch/Part-II/dataset.py
  examples/flower-simulation-step-by-step-pytorch/Part-II/main.py
  examples/flower-simulation-step-by-step-pytorch/Part-II/model.py
  examples/flower-simulation-step-by-step-pytorch/Part-II/server.py
  examples/flower-simulation-step-by-step-pytorch/Part-II/toy.py
  examples/flower-simulation-step-by-step-pytorch/README.md
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/.gitignore
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/README.md
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/my_awesome_app/__init__.py
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/my_awesome_app/client_app.py
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/my_awesome_app/my_strategy.py
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/my_awesome_app/server_app.py
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/my_awesome_app/task.py
  examples/flower-simulation-step-by-step-pytorch/my-awesome-app/pyproject.toml
  examples/flower-simulation-step-by-step-pytorch/requirements.txt
Labels: examples

#4689 refactor(examples) Upgrade the `mlx` version and remove `numpy` dependency in the MLX example
  examples/quickstart-mlx/pyproject.toml
Labels: part: examples

#4681 refactor(baselines) Update FedRep baseline
  baselines/fedrep/README.md
  baselines/fedrep/_static/cifar100_100_20.png
  baselines/fedrep/_static/cifar100_100_5.png
  baselines/fedrep/_static/cifar10_100_2.png
  baselines/fedrep/_static/cifar10_100_5.png
  baselines/fedrep/conf/cifar100_20.toml
  baselines/fedrep/conf/cifar100_5.toml
  baselines/fedrep/conf/cifar10_2.toml
  baselines/fedrep/conf/cifar10_5.toml
  baselines/fedrep/docs/make_plots.py
  baselines/fedrep/fedrep/__init__.py
  baselines/fedrep/fedrep/base_model.py
  baselines/fedrep/fedrep/client.py
  baselines/fedrep/fedrep/client_app.py
  baselines/fedrep/fedrep/conf/base.yaml
  baselines/fedrep/fedrep/conf/cifar100_100_20.yaml
  baselines/fedrep/fedrep/conf/cifar100_100_5.yaml
  baselines/fedrep/fedrep/conf/cifar10_100_2.yaml
  baselines/fedrep/fedrep/conf/cifar10_100_5.yaml
  baselines/fedrep/fedrep/constants.py
  baselines/fedrep/fedrep/dataset.py
  baselines/fedrep/fedrep/dataset_preparation.py
  baselines/fedrep/fedrep/main.py
  baselines/fedrep/fedrep/models.py
  baselines/fedrep/fedrep/server.py
  baselines/fedrep/fedrep/server_app.py
  baselines/fedrep/fedrep/strategy.py
  baselines/fedrep/fedrep/utils.py
  baselines/fedrep/pyproject.toml
Labels: part: baselines

#4649 feat(framework) Wrap `SimulationIo` stub with `RetryInvoker`
  src/py/flwr/common/retry_invoker.py
  src/py/flwr/simulation/simulationio_connection.py
Labels: simulation

#4688 refactor(framework) Remove delayed start for `Simulation Engine`
  src/py/flwr/simulation/run_simulation.py
Labels: simulation

#4696 refactor(examples) Add link to previous version of tutorial
  examples/flower-simulation-step-by-step-pytorch/README.md
Labels: part: examples

#4725 fix(examples) Update pinned `numpy` in `quickstart-pandas` and `vertical-fl` examples
  examples/quickstart-pandas/pyproject.toml
  examples/vertical-fl/pyproject.toml
Labels: part: examples

#4721 feat(framework) Push to the `LinkState` the `Context` of a `ServerApp` run in simulation
  src/py/flwr/simulation/app.py
  src/py/flwr/simulation/run_simulation.py
Labels: simulation

#4716 refactor(framework) Add enter and leave event for Simulation and ServerApp
  src/py/flwr/client/supernode/app.py
  src/py/flwr/common/telemetry.py
  src/py/flwr/server/run_serverapp.py
  src/py/flwr/server/serverapp/app.py
  src/py/flwr/simulation/app.py
  src/py/flwr/simulation/run_simulation.py
Labels: simulation
