Repository adap/flower, pull requests merged in 2024-11, with the labels that each got.

#3783 feat(baselines) Add Fed-Debug baseline
  baselines/feddebug/.gitignore
  baselines/feddebug/LICENSE
  baselines/feddebug/README.md
  baselines/feddebug/_static/feddbug-approach.png
  baselines/feddebug/_static/iid-lenet-cifar10.png
  baselines/feddebug/_static/iid-lenet-mnist.png
  baselines/feddebug/_static/iid-resnet18-mnist.png
  baselines/feddebug/_static/non_iid-resnet18-mnist.png
  baselines/feddebug/feddebug/__init__.py
  baselines/feddebug/feddebug/client.py
  baselines/feddebug/feddebug/conf/base.yaml
  baselines/feddebug/feddebug/dataset.py
  baselines/feddebug/feddebug/dataset_preparation.py
  baselines/feddebug/feddebug/differential_testing.py
  baselines/feddebug/feddebug/main.py
  baselines/feddebug/feddebug/models.py
  baselines/feddebug/feddebug/neuron_activation.py
  baselines/feddebug/feddebug/server.py
  baselines/feddebug/feddebug/strategy.py
  baselines/feddebug/feddebug/utils.py
  baselines/feddebug/pyproject.toml
Labels: new baseline

#4431 refactor(framework) Remove support for non-app simulations
  src/py/flwr/simulation/run_simulation.py
Labels: simulation

#4409 docs(framework) Update instructions in quickstart compose guide
  doc/source/docker/run-quickstart-examples-docker-compose.rst
Labels: documentation

#4448 feat(framework) Add `GetFederationOptions` to `SimulationIo`
  src/proto/flwr/proto/run.proto
  src/proto/flwr/proto/simulationio.proto
  src/py/flwr/proto/run_pb2.py
  src/py/flwr/proto/run_pb2.pyi
  src/py/flwr/proto/simulationio_pb2.py
  src/py/flwr/proto/simulationio_pb2_grpc.py
  src/py/flwr/proto/simulationio_pb2_grpc.pyi
  src/py/flwr/server/superlink/simulation/simulationio_servicer.py
Labels: simulation

#4433 feat(framework) Introduce `flwr-simulation` process
  pyproject.toml
  src/py/flwr/common/logger.py
  src/py/flwr/simulation/__init__.py
  src/py/flwr/simulation/app.py
Labels: simulation

#4486 refactor(framework) Remove `num-supernodes` requirement from simulation exec plugin
  src/py/flwr/superexec/simulation.py
Labels: simulation

#4010 docs(framework) Add how-to guide for designing stateful `ClientApp` objects
  doc/source/how-to-design-stateful-clients.rst
  doc/source/index.rst
Labels: documentation

#4492 docs(framework) Update `how-to-run-simulations` page
  doc/source/how-to-run-simulations.rst
Labels: documentation, simulation

#4510 refactor(examples) Update `30-minute-tutorial`
  examples/flower-in-30-minutes/tutorial.ipynb
Labels: Examples

#4248 refactor(examples) Update `advanced-tensorflow` example
  examples/advanced-tensorflow/.gitignore
  examples/advanced-tensorflow/README.md
  examples/advanced-tensorflow/_static/fmnist_50_lda.png
  examples/advanced-tensorflow/_static/wandb_plots.png
  examples/advanced-tensorflow/client.py
  examples/advanced-tensorflow/pyproject.toml
  examples/advanced-tensorflow/requirements.txt
  examples/advanced-tensorflow/run.sh
  examples/advanced-tensorflow/server.py
  examples/advanced-tensorflow/tensorflow_example/__init__.py
  examples/advanced-tensorflow/tensorflow_example/client_app.py
  examples/advanced-tensorflow/tensorflow_example/server_app.py
  examples/advanced-tensorflow/tensorflow_example/strategy.py
  examples/advanced-tensorflow/tensorflow_example/task.py
Labels: Examples

#4556 docs(datasets) Add recommended fl datasets docs
  datasets/doc/source/recommended-fl-datasets.rst
Labels: flwr-dataset

#4561 fix(datasets) Add missing metrics import
  datasets/flwr_datasets/__init__.py
Labels: flwr-dataset

#4381 refactor(examples) Update `embedded-devices` example
  examples/embedded-devices/Dockerfile
  examples/embedded-devices/README.md
  examples/embedded-devices/_static/rpi_imager.png
  examples/embedded-devices/_static/tmux_jtop_view.gif
  examples/embedded-devices/build_jetson_flower_client.sh
  examples/embedded-devices/client_pytorch.py
  examples/embedded-devices/client_tf.py
  examples/embedded-devices/device_setup.md
  examples/embedded-devices/embeddedexample/__init__.py
  examples/embedded-devices/embeddedexample/client_app.py
  examples/embedded-devices/embeddedexample/server_app.py
  examples/embedded-devices/embeddedexample/task.py
  examples/embedded-devices/generate_dataset.py
  examples/embedded-devices/pyproject.toml
  examples/embedded-devices/requirements_pytorch.txt
  examples/embedded-devices/requirements_tf.txt
  examples/embedded-devices/server.py
Labels: Examples

#4581 docs(datasets:skip) Add reference to recommended datasets to the index
  datasets/doc/source/index.rst
Labels: flwr-dataset

#4563 break(framework) Fix simulation arguments and tests
  e2e/test_exec_api.sh
  src/py/flwr/server/app.py
  src/py/flwr/simulation/app.py
Labels: simulation

#4589 refactor(examples) Update authentication example
  examples/flower-authentication/README.md
  examples/flower-authentication/pyproject.toml
Labels: Examples

#4601 docs(datasets) Add dataset contribution guide
  datasets/doc/source/contributor-how-to-contribute-dataset.rst
  datasets/doc/source/index.rst
Labels: flwr-dataset
