Repository adap/flower, pull requests merged in 2024-09, with the labels that each got.

#4134 refactor(examples) Suggest edits to `advanced-pytorch` example
  examples/advanced-pytorch/pytorch-example/README.md
  examples/advanced-pytorch/pytorch-example/pyproject.toml
  examples/advanced-pytorch/pytorch-example/pytorch_example/client_app.py
  examples/advanced-pytorch/pytorch-example/pytorch_example/strategy.py
  examples/advanced-pytorch/pytorch-example/pytorch_example/task.py
Labels: Examples

#4088 refactor(examples) Update xgboost quickstart example
  examples/xgboost-quickstart/README.md
  examples/xgboost-quickstart/client.py
  examples/xgboost-quickstart/pyproject.toml
  examples/xgboost-quickstart/run.sh
  examples/xgboost-quickstart/server.py
  examples/xgboost-quickstart/xgboost_quickstart/__init__.py
  examples/xgboost-quickstart/xgboost_quickstart/client_app.py
  examples/xgboost-quickstart/xgboost_quickstart/server_app.py
  examples/xgboost-quickstart/xgboost_quickstart/task.py
Labels: Examples

#4119 refactor(framework) Add buffer time after `ServerApp` thread initialization
  src/py/flwr/simulation/run_simulation.py
Labels: simulation

#4143 refactor(framework) Handle unsuitable resources for simulation
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend.py
  src/py/flwr/simulation/ray_transport/ray_actor.py
Labels: simulation

#4188 break(examples) Remove `simulation-` examples
  README.md
  examples/doc/source/conf.py
  examples/simulation-pytorch/README.md
  examples/simulation-pytorch/pyproject.toml
  examples/simulation-pytorch/requirements.txt
  examples/simulation-pytorch/sim.ipynb
  examples/simulation-pytorch/sim.py
  examples/simulation-pytorch/utils.py
  examples/simulation-tensorflow/README.md
  examples/simulation-tensorflow/pyproject.toml
  examples/simulation-tensorflow/requirements.txt
  examples/simulation-tensorflow/sim.ipynb
  examples/simulation-tensorflow/sim.py
Labels: Examples

#3270 docs(framework) Add Flower architecture explanation
  doc/source/_static/flower-architecture-ECE.png
  doc/source/_static/flower-architecture-VCE.png
  doc/source/_static/flower-architecture-basic-architecture.svg
  doc/source/_static/flower-architecture-deployment-engine.svg
  doc/source/_static/flower-architecture-hub-and-spoke.svg
  doc/source/_static/flower-architecture-multi-run-1.svg
  doc/source/_static/flower-architecture-multi-run-2.svg
  doc/source/_static/flower-architecture-multi-run.svg
  doc/source/_static/flower-architecture.drawio.png
  doc/source/conf.py
  doc/source/contributor-explanation-architecture.rst
  doc/source/explanation-flower-architecture.rst
  doc/source/index.rst
Labels: documentation

#4219 refactor(examples) Update get/set parameters functions for `flowertune-llm` example
  examples/flowertune-llm/flowertune_llm/client_app.py
  examples/flowertune-llm/flowertune_llm/models.py
  examples/flowertune-llm/flowertune_llm/server_app.py
  examples/flowertune-llm/pyproject.toml
Labels: Examples

#4007 refactor(examples) Update `quickstart-pandas` example
  examples/quickstart-pandas/README.md
  examples/quickstart-pandas/client.py
  examples/quickstart-pandas/pandas_example/__init__.py
  examples/quickstart-pandas/pandas_example/client_app.py
  examples/quickstart-pandas/pandas_example/server_app.py
  examples/quickstart-pandas/pyproject.toml
  examples/quickstart-pandas/requirements.txt
  examples/quickstart-pandas/run.sh
  examples/quickstart-pandas/server.py
Labels: Examples

#3716 feat(examples) Update vertical-fl example
  examples/vertical-fl/.gitignore
  examples/vertical-fl/README.md
  examples/vertical-fl/_static/hfl.jpg
  examples/vertical-fl/_static/hfl.png
  examples/vertical-fl/_static/vfl-accuracy.png
  examples/vertical-fl/_static/vfl.jpg
  examples/vertical-fl/_static/vfl.png
  examples/vertical-fl/client.py
  examples/vertical-fl/data/train.csv
  examples/vertical-fl/plot.py
  examples/vertical-fl/pyproject.toml
  examples/vertical-fl/requirements.txt
  examples/vertical-fl/simulation.py
  examples/vertical-fl/task.py
  examples/vertical-fl/vertical_fl/client_app.py
  examples/vertical-fl/vertical_fl/server_app.py
  examples/vertical-fl/vertical_fl/strategy.py
  examples/vertical-fl/vertical_fl/task.py
Labels: Examples

#4204 refactor(examples) Update `tensorflow-privacy` example
  examples/tensorflow-privacy/README.md
  examples/tensorflow-privacy/client.py
  examples/tensorflow-privacy/pyproject.toml
  examples/tensorflow-privacy/server.py
  examples/tensorflow-privacy/tf_privacy/__init__.py
  examples/tensorflow-privacy/tf_privacy/client_app.py
  examples/tensorflow-privacy/tf_privacy/server_app.py
  examples/tensorflow-privacy/tf_privacy/task.py
Labels: Examples

#3341 docs(framework) Update quickstart tutorial documentation for Hugging Face with `flwr run`
  doc/source/tutorial-quickstart-huggingface.rst
Labels: documentation

#4151 docs(framework) Update fastai quickstart tutorial
  doc/source/tutorial-quickstart-fastai.rst
Labels: documentation

#4152 docs(framework) Update pytorch-lightning quickstart tutorial
  doc/source/tutorial-quickstart-pytorch-lightning.rst
Labels: documentation

#4130 refactor(examples) Update `advanced-pytorch` example
  examples/advanced-pytorch/.gitignore
  examples/advanced-pytorch/README.md
  examples/advanced-pytorch/_static/fmnist_50_lda.png
  examples/advanced-pytorch/_static/wandb_plots.png
  examples/advanced-pytorch/client.py
  examples/advanced-pytorch/pyproject.toml
  examples/advanced-pytorch/pytorch_example/__init__.py
  examples/advanced-pytorch/pytorch_example/client_app.py
  examples/advanced-pytorch/pytorch_example/server_app.py
  examples/advanced-pytorch/pytorch_example/strategy.py
  examples/advanced-pytorch/pytorch_example/task.py
  examples/advanced-pytorch/requirements.txt
  examples/advanced-pytorch/run.sh
  examples/advanced-pytorch/server.py
  examples/advanced-pytorch/utils.py
Labels: Examples

#4206 refactor(examples) Make `quickstart-huggingface`use a smaller LM
  examples/quickstart-huggingface/README.md
  examples/quickstart-huggingface/huggingface_example/task.py
  examples/quickstart-huggingface/pyproject.toml
Labels: Examples

#4247 fix(examples:skip) Specify `min_fit_clients` in `FedAvg` in the Secure Aggregation example
  examples/flower-secure-aggregation/secaggexample/server_app.py
Labels: Examples
