Repository adap/flower, pull requests merged in 2024-01, with the labels that each got.

#2761 Update fedmedian.py docstring
  src/py/flwr/server/strategy/fedmedian.py
Labels: documentation

#2801 Retire the example of quickstart-xgboost-horizontal
  baselines/hfedxgboost/hfedxgboost/conf/base.yaml
  baselines/hfedxgboost/hfedxgboost/strategy.py
  examples/quickstart-xgboost-horizontal/.gitignore
  examples/quickstart-xgboost-horizontal/README.md
  examples/quickstart-xgboost-horizontal/code_horizontal.ipynb
  src/py/flwr/common/logger.py
  src/py/flwr/server/strategy/fedxgb_nn_avg.py
Labels: Examples

#2816 Update pandas quickstart to use FDS
  examples/quickstart-pandas/README.md
  examples/quickstart-pandas/client.py
  examples/quickstart-pandas/pyproject.toml
  examples/quickstart-pandas/requirements.txt
  examples/quickstart-pandas/run.sh
  examples/quickstart-pandas/server.py
Labels: Examples

#2820 Add `FlowerContext` and `Metadata`
  src/py/flwr/common/flowercontext.py
Labels: enhancement

#2829 Migrate quickstart HuggingFace to flwr-datasets
  examples/quickstart-huggingface/README.md
  examples/quickstart-huggingface/client.py
  examples/quickstart-huggingface/pyproject.toml
  examples/quickstart-huggingface/requirements.txt
  examples/quickstart-huggingface/run.sh
Labels: Examples

#2782 refactor: use alexnet to replace efficientnet
  examples/advanced-pytorch/README.md
  examples/advanced-pytorch/client.py
  examples/advanced-pytorch/run.sh
  examples/advanced-pytorch/server.py
  examples/advanced-pytorch/utils.py
Labels: Examples

#2718 Make examples use `start_client()`.
  examples/advanced-pytorch/client.py
  examples/advanced-tensorflow/client.py
  examples/custom-metrics/client.py
  examples/embedded-devices/client_pytorch.py
  examples/embedded-devices/client_tf.py
  examples/flower-in-30-minutes/tutorial.ipynb
  examples/mt-pytorch/client.py
  examples/opacus/dp_cifar_client.py
  examples/opacus/dp_cifar_simulation.py
  examples/pytorch-federated-variational-autoencoder/client.py
  examples/pytorch-from-centralized-to-federated/client.py
  examples/quickstart-fastai/client.py
  examples/quickstart-huggingface/client.py
  examples/quickstart-jax/client.py
  examples/quickstart-mlcube/client.py
  examples/quickstart-pandas/client.py
  examples/quickstart-pytorch-lightning/client.py
  examples/quickstart-pytorch/client.py
  examples/quickstart-tabnet/client.py
  examples/quickstart-tensorflow/client.py
  examples/simulation-pytorch/sim.ipynb
  examples/simulation-pytorch/sim.py
  examples/simulation-tensorflow/sim.ipynb
  examples/simulation-tensorflow/sim.py
  examples/sklearn-logreg-mnist/client.py
  examples/whisper-federated-finetuning/client.py
  examples/xgboost-comprehensive/client.py
  examples/xgboost-quickstart/client.py
Labels: Examples

#2626 flower-via-docker-compose example
  README.md
  examples/flower-via-docker-compose/.gitignore
  examples/flower-via-docker-compose/Dockerfile
  examples/flower-via-docker-compose/README.md
  examples/flower-via-docker-compose/client.py
  examples/flower-via-docker-compose/config/grafana.ini
  examples/flower-via-docker-compose/config/prometheus.yml
  examples/flower-via-docker-compose/config/provisioning/dashboards/dashboard_index.json
  examples/flower-via-docker-compose/config/provisioning/dashboards/dashboards.yml
  examples/flower-via-docker-compose/config/provisioning/datasources/prometheus-datasource.yml
  examples/flower-via-docker-compose/helpers/generate_docker_compose.py
  examples/flower-via-docker-compose/helpers/load_data.py
  examples/flower-via-docker-compose/model/model.py
  examples/flower-via-docker-compose/requirements.txt
  examples/flower-via-docker-compose/server.py
  examples/flower-via-docker-compose/strategy/strategy.py
Labels: Examples

#2825 Migrate embedded devices example to use flwr-datasets
  examples/embedded-devices/Dockerfile
  examples/embedded-devices/README.md
  examples/embedded-devices/client_pytorch.py
  examples/embedded-devices/client_tf.py
  examples/embedded-devices/requirements_pytorch.txt
  examples/embedded-devices/requirements_tf.txt
  examples/embedded-devices/server.py
Labels: Examples

#2726 Update simulation step-by-step example
  examples/flower-simulation-step-by-step-pytorch/Part-I/client.py
  examples/flower-simulation-step-by-step-pytorch/Part-II/client.py
  examples/flower-simulation-step-by-step-pytorch/README.md
  examples/flower-simulation-step-by-step-pytorch/requirements.txt
Labels: Examples
