Repository adap/flower, pull requests merged in 2024-02, with the labels that each got.

#2563 Deprecate `NumPyClient`
  doc/locales/fr/LC_MESSAGES/framework-docs.po
  doc/locales/pt_BR/LC_MESSAGES/framework-docs.po
  doc/locales/zh_Hans/LC_MESSAGES/framework-docs.po
Labels: documentation, Examples

#2722 Fedpara updated
  README.md
  baselines/fedpara/.gitignore
  baselines/fedpara/LICENSE
  baselines/fedpara/README.md
  baselines/fedpara/_static/Cifar100_iid.jpeg
  baselines/fedpara/_static/Cifar100_noniid.jpeg
  baselines/fedpara/_static/Cifar10_iid.jpeg
  baselines/fedpara/_static/Cifar10_noniid.jpeg
  baselines/fedpara/_static/non-iid_mnist_personalization.png
  baselines/fedpara/fedpara/__init__.py
  baselines/fedpara/fedpara/client.py
  baselines/fedpara/fedpara/conf/cifar10.yaml
  baselines/fedpara/fedpara/conf/cifar100.yaml
  baselines/fedpara/fedpara/conf/mnist_fedavg.yaml
  baselines/fedpara/fedpara/conf/mnist_fedper.yaml
  baselines/fedpara/fedpara/conf/mnist_pfedpara.yaml
  baselines/fedpara/fedpara/dataset.py
  baselines/fedpara/fedpara/dataset_preparation.py
  baselines/fedpara/fedpara/main.py
  baselines/fedpara/fedpara/models.py
  baselines/fedpara/fedpara/server.py
  baselines/fedpara/fedpara/strategy.py
  baselines/fedpara/fedpara/utils.py
  baselines/fedpara/pyproject.toml
  doc/source/ref-changelog.md
Labels: summer-of-reproducibility

#2783 Make VCE use `Message` and `Flower` callable
  doc/source/how-to-run-simulations.rst
  e2e/pandas/simulation.py
  src/py/flwr/client/message_handler/message_handler.py
  src/py/flwr/simulation/app.py
  src/py/flwr/simulation/ray_transport/ray_actor.py
  src/py/flwr/simulation/ray_transport/ray_client_proxy.py
  src/py/flwr/simulation/ray_transport/ray_client_proxy_test.py
  src/py/flwr/simulation/ray_transport/utils.py
Labels: simulation

#2993 Create `VCE` `Fleet API` entry point
  src/py/flwr/common/constant.py
  src/py/flwr/server/app.py
  src/py/flwr/server/superlink/fleet/vce/__init__.py
  src/py/flwr/server/superlink/fleet/vce/vce_api.py
Labels: simulation

#3008 Add `terminate` method to backends and introduce `asyncio` stopping event.
  src/py/flwr/server/superlink/fleet/vce/backend/backend.py
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend.py
  src/py/flwr/server/superlink/fleet/vce/vce_api.py
  src/py/flwr/simulation/ray_transport/ray_actor.py
Labels: simulation

#3011 Add build/process/terminate tests for `RayBackend`
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend.py
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend_test.py
Labels: simulation

#3018 Handle loading of non-existing `ClientApp` in `RayBackend`.
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend.py
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend_test.py
  src/py/flwr/simulation/ray_transport/ray_actor.py
Labels: simulation

#2998 Complete `VCE Fleet` API loop
  src/py/flwr/server/app.py
  src/py/flwr/server/superlink/fleet/vce/__init__.py
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend.py
  src/py/flwr/server/superlink/fleet/vce/backend/raybackend_test.py
  src/py/flwr/server/superlink/fleet/vce/vce_api.py
  src/py/flwr/server/superlink/fleet/vce/vce_api_test.py
Labels: simulation

#2773 Add MONAI quickstart example
  README.md
  examples/quickstart-monai/.gitignore
  examples/quickstart-monai/README.md
  examples/quickstart-monai/client.py
  examples/quickstart-monai/data.py
  examples/quickstart-monai/model.py
  examples/quickstart-monai/pyproject.toml
  examples/quickstart-monai/requirements.txt
  examples/quickstart-monai/run.sh
  examples/quickstart-monai/server.py
Labels: Examples

#3009 Introduce `flower-simulation` command and update simulation examples
  examples/simulation-pytorch/README.md
  examples/simulation-pytorch/sim.py
  examples/simulation-tensorflow/README.md
  examples/simulation-tensorflow/sim.py
  pyproject.toml
  src/py/flwr/simulation/__init__.py
  src/py/flwr/simulation/run_simulation.py
Labels: simulation, Examples
