Repository adap/flower, pull requests merged in 2024-04, with the labels that each got.

#3184 Add delay to `Simulation Engine` termination
  src/py/flwr/server/superlink/fleet/vce/vce_api.py
Labels: simulation

#3269 Fix `LLM-FlowerTune` example
  examples/llm-flowertune/requirements.txt
Labels: Examples

#3319 Update Flower installation guide to version to 1.8
  doc/source/how-to-install-flower.rst
Labels: documentation

#3318 Remove `mxnet` `*.rst` sources
  doc/source/example-mxnet-walk-through.rst
  doc/source/tutorial-quickstart-mxnet.rst
Labels: documentation

#3268 Add FedPFT baseline
  baselines/fedpft/.gitignore
  baselines/fedpft/LICENSE
  baselines/fedpft/README.md
  baselines/fedpft/_static/FedPft.png
  baselines/fedpft/docs/viz_and_plot_results.ipynb
  baselines/fedpft/fedpft/__init__.py
  baselines/fedpft/fedpft/client.py
  baselines/fedpft/fedpft/conf/base.yaml
  baselines/fedpft/fedpft/conf/client/fedavg.yaml
  baselines/fedpft/fedpft/conf/client/fedpft.yaml
  baselines/fedpft/fedpft/conf/dataset/CIFAR100.yaml
  baselines/fedpft/fedpft/conf/dataset/Caltech101.yaml
  baselines/fedpft/fedpft/conf/model/clip.yaml
  baselines/fedpft/fedpft/conf/model/resnet50.yaml
  baselines/fedpft/fedpft/conf/strategy/fedavg.yaml
  baselines/fedpft/fedpft/conf/strategy/fedpft.yaml
  baselines/fedpft/fedpft/dataset.py
  baselines/fedpft/fedpft/dataset_preparation.py
  baselines/fedpft/fedpft/main.py
  baselines/fedpft/fedpft/models.py
  baselines/fedpft/fedpft/server.py
  baselines/fedpft/fedpft/strategy.py
  baselines/fedpft/fedpft/utils.py
  baselines/fedpft/pyproject.toml
Labels: new baseline

#3342 Add `model_max_length` to AutoTokenizer in quickstart Hugging Face example
  examples/quickstart-huggingface/client.py
Labels: Examples
