Repository adap/flower, pull requests merged in 2025-01, with the labels that each got.

#4771 refactor(examples) Update `transformers` version in Whisper example
  examples/whisper-federated-finetuning/pyproject.toml
  examples/whisper-federated-finetuning/requirements.txt
Labels: part: examples

#4768 docs(framework) Add video tutorial to Simulation documentation
  framework/docs/source/how-to-run-simulations.rst
Labels: type: documentation

#4770 refactor(examples) Update `torch` version in several examples
  examples/custom-mods/pyproject.toml
  examples/custom-mods/requirements.txt
  examples/fl-tabular/pyproject.toml
  examples/pytorch-from-centralized-to-federated/pyproject.toml
  examples/pytorch-from-centralized-to-federated/requirements.txt
  examples/quickstart-pytorch-lightning/pyproject.toml
  examples/vertical-fl/pyproject.toml
Labels: part: examples

#4773 refactor(baselines) Remove `pillow` package from `FedMeta` baseline
  baselines/fedmeta/README.md
  baselines/fedmeta/pyproject.toml
Labels: part: baselines

#3921 feat(baselines) Add new baseline statavg
  baselines/statavg/LICENSE
  baselines/statavg/README.md
  baselines/statavg/_static/fig.png
  baselines/statavg/pyproject.toml
  baselines/statavg/statavg/__init__.py
  baselines/statavg/statavg/client.py
  baselines/statavg/statavg/conf/base.yaml
  baselines/statavg/statavg/conf/fedavg.yaml
  baselines/statavg/statavg/dataset.py
  baselines/statavg/statavg/dataset_preparation.py
  baselines/statavg/statavg/main.py
  baselines/statavg/statavg/models.py
  baselines/statavg/statavg/server.py
  baselines/statavg/statavg/strategy.py
  baselines/statavg/statavg/utils.py
Labels: new baseline

#4783 refactor(baselines) Update `torch` and `torchvision` versions in old baselines
  baselines/flwr_baselines/dev/test.sh
  baselines/flwr_baselines/flwr_baselines/dataset/utils/common_test.py
  baselines/flwr_baselines/flwr_baselines/publications/adaptive_federated_optimization/cifar/utils.py
  baselines/flwr_baselines/flwr_baselines/publications/fedavg_mnist/client.py
  baselines/flwr_baselines/flwr_baselines/publications/fedavg_mnist/utils.py
  baselines/flwr_baselines/flwr_baselines/publications/leaf/femnist/client.py
  baselines/flwr_baselines/flwr_baselines/publications/leaf/femnist/dataset/dataset.py
  baselines/flwr_baselines/flwr_baselines/publications/leaf/femnist/dataset/nist_sampler.py
  baselines/flwr_baselines/pyproject.toml
Labels: dependencies, part: baselines

#4775 refactor(baselines) Update `torch` in `HFedXGBoost` baseline
  baselines/hfedxgboost/pyproject.toml
Labels: part: baselines

#4772 refactor(baselines) Update `transformers` package in `FedWav2Vec` baseline
  baselines/fedwav2vec2/pyproject.toml
Labels: part: baselines

#4784 refactor(baselines) Update `torch` in `FjORD` baseline
  baselines/fjord/pyproject.toml
Labels: part: baselines

#4790 refactor(baselines:skip) Update `torch` version if `FjORD` baseline
  baselines/fjord/requirements.txt
Labels: part: baselines

#4380 docs(framework) Update PyTorch device selection in tutorial series notebook
  framework/docs/source/tutorial-series-get-started-with-flower-pytorch.ipynb
Labels: type: documentation

#4607 feat(examples) Add `LeRobot` quickstart-example
  README.md
  examples/quickstart-lerobot/.gitignore
  examples/quickstart-lerobot/README.md
  examples/quickstart-lerobot/_static/render_compose.gif
  examples/quickstart-lerobot/lerobot_example/__init__.py
  examples/quickstart-lerobot/lerobot_example/client_app.py
  examples/quickstart-lerobot/lerobot_example/configs/default.yaml
  examples/quickstart-lerobot/lerobot_example/configs/env/pusht.yaml
  examples/quickstart-lerobot/lerobot_example/configs/policy/diffusion.yaml
  examples/quickstart-lerobot/lerobot_example/lerobot_federated_dataset.py
  examples/quickstart-lerobot/lerobot_example/server_app.py
  examples/quickstart-lerobot/lerobot_example/task.py
  examples/quickstart-lerobot/pyproject.toml
Labels: part: examples

#4796 fix(*:skip) Update URL of video tutorial
  examples/flower-simulation-step-by-step-pytorch/README.md
  framework/docs/source/how-to-run-simulations.rst
Labels: type: documentation, part: examples

#4810 refactor(examples) Split script to create TLS certificates and keys for node authentication
  examples/flower-authentication/README.md
  examples/flower-authentication/generate_auth_keys.sh
  examples/flower-authentication/generate_cert.sh
Labels: part: examples

#4806 docs(framework) Complete how-to guide for Deployment Engine
  framework/docs/source/how-to-run-flower-with-deployment-engine.rst
Labels: type: documentation

#4805 docs(framework) Add Flower Network Communication reference
  framework/docs/source/_static/flower-network-diagram-process.svg
  framework/docs/source/_static/flower-network-diagram-subprocess.svg
  framework/docs/source/index.rst
  framework/docs/source/ref-flower-network-communication.rst
Labels: type: documentation

#4809 docs(framework) Update how-to guides for TLS and node authentication
  framework/docs/source/how-to-authenticate-supernodes.rst
  framework/docs/source/how-to-enable-tls-connections.rst
  framework/docs/source/how-to-run-flower-with-deployment-engine.rst
  framework/docs/source/index.rst
Labels: type: documentation

#4811 docs(framework) Add `How to run Flower with Deployment Engine` guide
  framework/docs/source/how-to-authenticate-supernodes.rst
  framework/docs/source/how-to-enable-tls-connections.rst
  framework/docs/source/how-to-run-flower-with-deployment-engine.rst
  framework/docs/source/index.rst
Labels: type: documentation

#4812 docs(framework:skip) Fix deployment engine guides
  framework/docs/source/how-to-authenticate-supernodes.rst
  framework/docs/source/how-to-run-flower-with-deployment-engine.rst
Labels: type: documentation

#4215 docs(framework) Add description metadata to Flower How-to guides
  framework/docs/source/docker/enable-tls.rst
  framework/docs/source/docker/index.rst
  framework/docs/source/docker/persist-superlink-state.rst
  framework/docs/source/docker/pin-version.rst
  framework/docs/source/docker/run-as-root-user.rst
  framework/docs/source/docker/run-as-subprocess.rst
  framework/docs/source/docker/run-quickstart-examples-docker-compose.rst
  framework/docs/source/docker/set-environment-variables.rst
  framework/docs/source/docker/tutorial-deploy-on-multiple-machines.rst
  framework/docs/source/docker/tutorial-quickstart-docker-compose.rst
  framework/docs/source/docker/tutorial-quickstart-docker.rst
  framework/docs/source/docker/use-a-different-version.rst
  framework/docs/source/how-to-aggregate-evaluation-results.rst
  framework/docs/source/how-to-authenticate-supernodes.rst
  framework/docs/source/how-to-configure-clients.rst
  framework/docs/source/how-to-design-stateful-clients.rst
  framework/docs/source/how-to-enable-tls-connections.rst
  framework/docs/source/how-to-implement-fedbn.rst
  framework/docs/source/how-to-implement-strategies.rst
  framework/docs/source/how-to-install-flower.rst
  framework/docs/source/how-to-run-flower-with-deployment-engine.rst
  framework/docs/source/how-to-run-simulations.rst
  framework/docs/source/how-to-save-and-load-model-checkpoints.rst
  framework/docs/source/how-to-upgrade-to-flower-1.0.rst
  framework/docs/source/how-to-upgrade-to-flower-1.13.rst
  framework/docs/source/how-to-use-built-in-mods.rst
  framework/docs/source/how-to-use-differential-privacy.rst
  framework/docs/source/how-to-use-strategies.rst
Labels: documentation

#4816 refactor(examples) Format lerobot example
  examples/quickstart-lerobot/lerobot_example/lerobot_federated_dataset.py
Labels: part: examples

#4733 docs(examples) Add link to how-to guide for running with Deployment Engine
  examples/advanced-pytorch/README.md
  examples/advanced-tensorflow/README.md
  examples/custom-metrics/README.md
  examples/embedded-devices/README.md
  examples/federated-kaplan-meier-fitter/README.md
  examples/fl-dp-sa/README.md
  examples/fl-tabular/README.md
  examples/flower-authentication/README.md
  examples/flower-secure-aggregation/README.md
  examples/flowertune-llm/README.md
  examples/flowertune-vit/README.md
  examples/opacus/README.md
  examples/pytorch-federated-variational-autoencoder/README.md
  examples/quickstart-fastai/README.md
  examples/quickstart-huggingface/README.md
  examples/quickstart-jax/README.md
  examples/quickstart-lerobot/README.md
  examples/quickstart-mlx/README.md
  examples/quickstart-monai/README.md
  examples/quickstart-pandas/README.md
  examples/quickstart-pytorch-lightning/README.md
  examples/quickstart-pytorch/README.md
  examples/quickstart-sklearn-tabular/README.md
  examples/quickstart-tensorflow/README.md
  examples/sklearn-logreg-mnist/README.md
  examples/vertical-fl/README.md
  examples/xgboost-comprehensive/README.md
  examples/xgboost-quickstart/README.md
Labels: part: examples

#4842 refactor(examples) Update `app-pytorch` example
  examples/app-pytorch/README.md
  examples/app-pytorch/app_pytorch/__init__.py
  examples/app-pytorch/app_pytorch/client_app.py
  examples/app-pytorch/app_pytorch/server_app.py
  examples/app-pytorch/app_pytorch/task.py
  examples/app-pytorch/client.py
  examples/app-pytorch/client_low_level.py
  examples/app-pytorch/pyproject.toml
  examples/app-pytorch/requirements.txt
  examples/app-pytorch/server.py
  examples/app-pytorch/server_custom.py
  examples/app-pytorch/server_low_level.py
  examples/app-pytorch/server_workflow.py
  examples/app-pytorch/task.py
Labels: part: examples

#4158 refactor(examples) Update whisper finetuning example
  examples/whisper-federated-finetuning/.gitignore
  examples/whisper-federated-finetuning/README.md
  examples/whisper-federated-finetuning/_static/whisper_flower_data.png
  examples/whisper-federated-finetuning/centralized.py
  examples/whisper-federated-finetuning/client.py
  examples/whisper-federated-finetuning/preprocess.py
  examples/whisper-federated-finetuning/pyproject.toml
  examples/whisper-federated-finetuning/requirements.txt
  examples/whisper-federated-finetuning/rpi_setup.md
  examples/whisper-federated-finetuning/server.py
  examples/whisper-federated-finetuning/sim.py
  examples/whisper-federated-finetuning/utils.py
  examples/whisper-federated-finetuning/visualize_labels.ipynb
  examples/whisper-federated-finetuning/whisper_example/__init__.py
  examples/whisper-federated-finetuning/whisper_example/client_app.py
  examples/whisper-federated-finetuning/whisper_example/dataset.py
  examples/whisper-federated-finetuning/whisper_example/model.py
  examples/whisper-federated-finetuning/whisper_example/server_app.py
Labels: part: examples
